@media (max-width: 992px){
 
  
    .navBar {
        gap: 10px;
      }
    
      .navBar{
        position: absolute;
        top: 75px;
        width: 100%;
        background: var(--nav-bg);
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        gap: 25px;
        z-index: 2;
        display: none;
        left: 0px;
      }
      .menu-label {
        display: flex;
        cursor: pointer;
        order: 2;
      }
      .navBarList{
        display: flex;
        flex-direction: column;
      }
      .navBarList a {
        font-size: 18px;
        color:#F34213;
      }
      .navBarList a:hover{
        color:whitesmoke;
      }
  #menu-toggle{
    display: none;
  }
  #menu-toggle:checked + .navBar {
    display: flex;
  }

  /* hero */
  #hero{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
      .hero-info {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
        
      }
   .profes-info{
  margin-left: 10px;
   text-align: center;
   }
    .profes-info img{
      display: none;
    }

    
    footer{
      width: 100%;
    }
    
}

@media (max-width: 576px) {

    .cart-icon {
      left: 0;
      width: 100%;
      border: none;
    }
  
    .cart-item {
      flex-wrap: wrap;
    }
#hero{
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .hero-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-info h1{
        background-color: var(--nav-bg);
    }
  .hero-img{
    width: 100%;
  }
  .hero-img h3{
    width: 100%;
    font-size: small;
   
  }
    .info-card {
      width: 80%;
      height: 450px;
      justify-content: center;
    }
  
    .info-card p {
     font-size: 15px;
    }
.profes-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
    
}
#profes{
  width: 100%;
  align-items: center;
  justify-content: center;
}
.profes-info{
  width: 100%;
}
 .profes-info h2{
  font-size:x-large;
 }
 .profes-info img{
  display: none;
 }
 .profes-cards{
  display: flex;
  flex-direction: column;
 }
 .profes-cards img{
  width: 60%;
 }
 /* flayers */
#flayers{
    max-width: 100%;
}
.flayers{
    display: flex;
    max-width: 100%;
}
.flayers-cards{
    display: flex;
    flex-direction: column;
}
.flayers-cards img{
  width: 80%;
}
.footer-links {
  display: flex;
  text-align: center;
}


    }
